body {
    font-family: "Comic Sans MS", "Comic Sans";
}

.nav{
    float: left;
    width: 20%;
    text-align: center;
    background-color: white;
    border-right-style: solid;
    border-right-width: 1px;
    height: 120vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid {
    background-color:#f0f0f5;
    height: 120vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav-link.active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.nav-link {
    width: 80%;
    align-self: center;
    color: darkgray;
}
.nav-link:hover {
    color: red;
}

.card {
    width: 80%;
    margin-top: 2em;
}

.list-group {
    width: 80%;
    margin-top: 2em;
}

.card-text a {
    text-decoration: none;
    color: white;
}

.card-text a:hover {
    color: darkgray;
}

@media screen and (max-width: 1024px) {
    .nav{
        width: 30%;
    }

    .container-fluid {
        height: 300vh;
    }
    
}

izvr-akt {
	background-color: yellow;
}

.box{
    padding: 5px;        
    border: 3px solid #666;
    margin-bottom: 20px;
}