body {
    font-family: "Comic Sans MS", "Comic Sans";
    background-color:#f0f0f5;
}

.nav{
    float: left;
    width: 20%;
    text-align: center;
    background-color: white;
    border-right-style: solid;
    border-right-width: 1px;
    height: 100vh;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid {
    background-color:#f0f0f5;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
}

a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

.list-group {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav-link.active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


.nav-link {
    width: 80%;
    align-self: center;
    color: darkgray;
}
.nav-link:hover {
    color: red;
}

.card {
    width: 80%;
    margin-top: 2em;
}

.list-group {
    width: 80%;
    margin-top: 2em;
}

.card-text a {
    text-decoration: none;
    color: white;
}

.card-text a:hover {
    color: darkgray;
}

.footer {
    display: none;
}

@media screen and (max-width: 1024px) {
    .nav{
        display: none;
    }

    .container-fluid {
        height: 300vh;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        text-align: center;
        display: inline;
    
}
    
}

izvr-akt {
	background-color: yellow;
}

td a {
    display:block;
    width:100%;
}

.box{
    padding: 5px;        
    border: 3px solid #666;
    margin-bottom: 20px;
}

table {
    background-color: white;
}
